@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-anime-light text-anime-dark antialiased selection:bg-anime-primary selection:text-white;
  }
}

/* Custom Micro-animations */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
